@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Geist Light';
    src: url('./fonts/Geist-Light.otf') format('opentype');
    font-weight: 300;
}


:root {
    --beige: #E3DACF;
    --gray: #353632;
    --l-gray: #B6B5B1;
    --orange: #D05723;
    --elza: "elza", sans-serif;
    --geist: 'Geist', sans-serif;
    --geistLight: 'Geist Light', sans-serif;
    --pageWidth: '45rem'
}

h2 {
    margin-bottom: 1rem;
}

.about-header {
    padding-top: 5rem;
    margin: 0 1rem;
}

.about-intro {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}
.about-intro_image img {
    width: 100%;
    margin: 0 auto;
}

.about-intro_content-1 {
    margin: 1rem 0;
}

.about-intro_content-1 h2 {
    font-size: 1.25rem;
    
}
.about-marquee {
    height: 2rem;
}

.about-intro_content-2 {
    border-top: 1px solid var(--gray);
    padding: 1rem 0;
}

.about-intro-content-2 p {
    margin-bottom: 3rem;
}





/* Media Queries */

@media (min-width: 400px) {}

@media (min-width: 768px) {
    .about-header{
        margin: 0 4rem;
    }
    .about-header h1 {
        font-size: 4rem;
    }
    .about-intro {
        margin: 0 4rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }
    .about-intro_image img{
        max-height: 20rem;
        max-width: 20rem;
        object-fit: cover;
    } 
    .about-intro_content {
        width: 80%;
    }
    .about-intro_content-1 h2 {
        font-size: 1.75rem;
    }
    .about-intro_content-1 {
        margin-top: 0;
    }
    .about-intro_content-2 {
        border: 0px;
    }
}

@media (min-width: 1024px) {
    .about-intro_image img{
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    } 
    .about-intro_content {
        width: 90%;
    }
    .about-intro_content-1 h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1280px) {
    .about-intro_image img{
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    } 
    .about-intro_content {
        width: 90%;
    }
    .about-intro_content-1 h2 {
        font-size: 2rem;
    }
}


@media (min-width: 1800px) {

}

@media (min-width: 1920px) {
    .about-header {
        max-width: 1600px;
        margin: 0 auto;
    }
    .about-header h1 {
        font-size: 7rem;
    }
    .about-intro {
        max-width: 1600px;
        margin: 0 auto;
    }
}
