@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Geist Light';
    src: url('./fonts/Geist-Light.otf') format('opentype');
    font-weight: 300;
}


:root {
    --beige: #E3DACF;
    --gray: #353632;
    --l-gray: #B6B5B1;
    --orange: #D05723;
    --elza: "elza", sans-serif;
    --geist: 'Geist', sans-serif;
    --geistLight: 'Geist Light', sans-serif;
}

.project-header {
    text-align: center;
    padding-top: 5rem;
    font-family: var(--elza);
    margin: 0 1rem;
}

.project-information {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    gap: 1rem;
}
.project-information_role {
    width: 33%;
}

.project-information_role .p-reg {
    margin-top: 0.5rem
}
.project-information_role .p-light {
    margin-top: 1rem;
}

.project-details {
    margin: 1rem 1rem;
}

.project-details p {
    margin: 1rem 0;
    width: 80%;
}

.project-details_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.project-details_intro img {
    margin-top: 1rem;
}

.project-details_intro p {
    margin: 1rem 0;
}

.roam-challenges {
    background-color: var(--gray);
    padding: 1rem;
}

.roam-section_title {
    margin: 1rem 0;
    text-align: center;
}

.section-title_white {
    color: var(--beige);
}

.section-subtitle_white {
    color: var(--beige);
    font-weight: 300;
    font-size: 0.75rem;
    margin: 1rem 0;
}

@media (min-width: 400px) {}

@media (min-width: 768px) {
    .project-header {
        margin: 0 4rem;
    }
    .project-details {
        margin: 0 4rem;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {
    .project-header {
        margin: 0 5rem;
    }
    .project-details {
        margin: 0 5rem;
    }
    .project-details p {
        width: 70%;
    }
    .project-details_intro img{
        width: 100%;
        height: auto;
        max-height: 40rem;
        object-fit: cover;
    }
}
@media (min-width: 1920px) {
    .project-header {
        max-width: 1600px;
        margin: 0 auto;
    }
    .project-details {
        max-width: 1600px;
        margin: 0 auto;
    }
}