:root {
    --beige: #E3DACF;
    --gray: #353632;
    --l-gray: #B6B5B1;
    --orange: #D05723;
    --elza: "elza", sans-serif;
    --satoshi: 'Satoshi', sans-serif;
}


/* HERO SECTION */
.hero {
    height: 100vh;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.marquee {
    /*   overflow: hidden; */
}

.marquee-content {
    display: flex;
    animation: scrolling 10s linear infinite;
}

.marquee-item {
    flex: 0 0 16vw;
    margin: 0 1vw;
    /*   flex: 0 0 20vw; */
    /*   margin: 0 2vw; */
}

.marquee-item img {
    display: block;
    width: 100%;
    /*   padding: 0 20px; */
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translatex(-144vw);
    }
}

/* .marquee {
    width: 100%;
    height: 40%;
    overflow: hidden;
}

.marquee__inner {
    display: inline-flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    white-space: nowrap;
    will-change: transform;
}

.marquee__item {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.marquee__item img {
    width: 120%;
    height: 100%;
    padding: 0 0.5rem;
    object-fit: cover;
    overflow: hidden;
} */

.hero-container {
    margin: 0 1.25rem;
}

.hero-introduction_name {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.25rem;
}

.hero-introduction h1 {
    font-size: 3rem;
    font-family: var(--elza);
    font-weight: 500;
    grid-column: 1 / span 4;
}

.hero-introduction_bio {
    gap: 0.25rem;
}

.hero-introduction p {
    grid-column: 1 / span 3;
    font-size: 1rem;
    font-family: var(--elza);
    font-weight: 400;
    text-align: justify;
}

.featured-projects {
    margin: 0 1rem;
}







@media (min-width: 400px) {}

@media (min-width: 768px) {
    .hero {
        text-align: end;
    }

    .hero-container {
        margin: 0 4rem;
    }

    .hero-introduction_name {
        grid-template-columns: repeat(12, 1fr);
    }

    .hero-introduction_name h1 {
        grid-column: 4 / span 9;
    }

    .hero-introduction_bio {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .hero-introduction_bio p {
        grid-column: 6 / span 7;
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {

    .hero-introduction_name h1 {
        grid-column: 4 / span 9;
        font-size: 7rem;
    }

    .hero-introduction_bio p {
        grid-column: 5 / span 8;
        font-size: 1.75rem;
    }
}

@media (min-width: 1280px) {
    .hero-container {
        margin: 0 5rem;
    }

    .hero-introduction_name h1 {
        grid-column: 6 / span 7;
        font-size: 7rem;
    }

    .hero-introduction_bio p {
        grid-column: 7 / span 6;
        font-size: 1.5rem;
        padding-left: 1rem;
    }
}

/* @media (min-width: 1600px) {
    .hero-introduction_name h1 {
        font-size: 10rem;
    }
    .hero-introduction_bio p {
        grid-column: 8 / span 5;
        font-size: 1.5rem;
        padding-left: 0;
    }
} */

@media (min-width: 1800px) {
    .hero {
        max-width: 80%;
        margin: 0 auto;
    }

    .hero-introduction_name h1 {
        grid-column: 6 / span 7;
        font-size: 10rem;
    }
}