@font-face {
    font-family: 'Geist';
    src: url('./fonts/Geist-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Geist Light';
    src: url('./fonts/Geist-Light.otf') format('opentype');
    font-weight: 300;
}


:root {
    --beige: #E3DACF;
    --gray: #353632;
    --l-gray: #B6B5B1;
    --orange: #D05723;
    --elza: "elza", sans-serif;
    --geist: 'Geist', sans-serif;
    --geistLight: 'Geist Light', sans-serif;
}

.projects-header {
    margin: 0 1rem;
    padding-top: 5rem;
}

.filter-nav {
    margin: 0rem 1rem 1rem 1rem;
    display: flex;
    gap: 0.25rem;
    border-bottom: 1px solid var(--gray);
}

.filter-nav button {
    background-color: none;
    border: none;
    padding: 5px;
}



@media (min-width: 400px) {}

@media (min-width: 768px) {
    .projects-header {
        margin: 0 4rem;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1920px) {
    .projects-header {
        max-width: 1600px;
        margin: 0 auto;
    }
    .filter-nav {
        max-width: 1600px;
        margin: 0 auto;
    }
}